.quicklink__collapsed {
  text-align: center;
  padding-top: 10px;
  transition: 0.5s;
}

.quicklink__icon__collapsed {
  padding-left: 3px;
  transition: 0.5s;
}

.quciklink__favicon__collapsed {
  transition: 0.5s;
  padding-right: 2px;
  height: 15px;
  width: 15px;
  object-fit: contain;
}
