.ql__expanded {
  background-color: rgba(18, 18, 18, 0.7);
  color: white;
  position: fixed;
  width: 200px;
  padding: 10px;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}
.ql__collapsed {
  padding-top: 17px;
  background-color: rgba(18, 18, 18, 0.7);
  color: white;
  position: fixed;
  width: 40px;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  transition: 0.5s;
}
.ql__addlink__collapsed {
  font-size: 0px;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: 0.5s;
}

.ql__head__collapsed {
  transition: 0.5s;
  padding-top: 17px;
  cursor: pointer;
  padding-bottom: 17px;
}

.ql__list::-webkit-scrollbar {
  display: none;
  transition: 0.5s;
}

.icon__toggle {
  cursor: pointer;
}

.ql__head__expanded {
  height: 30px;
  width: 190px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 17px;
  z-index: 999;
  transition: 0.5s;
}
.ql__list {
  height: 90vh;
  width: 180px;
  margin-top: 60px;
  position: fixed;
  padding-left: 10px;
  overflow: scroll;
  transition: 0.5s;
}
.ql__addlink__expanded {
  background-color: dodgerblue;
  height: 15px;
  padding: 7px 30px;
  border-radius: 10px;
  /* padding-right: 30px; */
  text-align: center;
  transition: 0.55s;
}
