@import url("https://use.typekit.net/euc0ler.css");

* {
  margin: 0;
  font-family: poiret-one, sans-serif;
}
.App {
  height: 100vh;
  width: 100vw;
  background-blend-mode: multiply;
  background-color: #bdbdbd;
  background-size: cover;
}
.changebgicon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
